.player {
    height: 90vh;
}

.container {
    max-width: 1440px;
    margin: 0 auto
}

.title {
    font-size: 59px;
    text-align: end;
    letter-spacing: var(--primary-letter-spacing);
    padding-top: 10px;
}

.description {
    font-size: 24px;
    text-align: end;
    letter-spacing: var(--main-letter-spacing);
    padding-bottom: 10px;
}

.videoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: -1;
}

.video {
    width: 100%;
    height: 80vh;
}

.timeControls {}

.barWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-bottom: 5px;
}

.progressContainer {
    position: relative;
    width: 1430px;
    height: 5px;
}

.progressBarContainer {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    border-radius: 15px;
    background-color: var(--main-text-color);
}

.time_progressBar {
    position: absolute;
    height: 100%;
    border-radius: 15px;
    background-color: var(--primary-color);
    transition: 100ms ease-in;
}

.controlsTime {
    font-size: 16px;
    letter-spacing: var(--main-letter-spacing);
}

.controlsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftControls,
.rightControls {
    display: flex;
    align-items: center;
    gap: 20px
}

.button {
    width: 45px;
    height: 45px;
    cursor: pointer;
    user-select: none;
}

img {
    z-index: -1;
}