.imageWrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 450px;
    background-image: url("../assets/come-and-see-thumb.jpg");
    background-position: center;
    box-shadow: inset 0 -50px 40px 10px var(--background-color);
    background-repeat: no-repeat;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.headingContent {
    display: flex;
    align-items: flex-start;
    gap: 50px
}

.poster {
    width: 250px;
    height: 350px;
    box-shadow: 0 0 20px var(--primary-color);
    border-radius: 5px;
}

.movieInformation {
    max-width: 1000px;
}

.movieTitle {
    font-size: 59px;
    letter-spacing: var(--primary-letter-spacing);
    color: var(--primary-color);
    padding-bottom: 30px;
}

.movieDescription {
    font-size: 24px;
    letter-spacing: var(--main-letter-spacing);
}

.video {
    padding: 50px 0
}

.videoHeading {
    font-size: 48px;
    letter-spacing: var(--primary-letter-spacing);
    padding-bottom: 50px;
}

video {
    width: 100%;
}