/*
.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video {
    width: 100%;
    height: 500px;
}

!* Controls *!

.controlsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: transparent;
    margin-top: -50vw;
    padding: 0 40px;
    z-index: 20;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 18rem;
    margin: auto;
}

.controlsIcon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 10rem;
    margin-right: 10rem;
}

.controlsIconSmall {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-left: 10rem;
    margin-right: 10rem;
}

!* The time controls section *!

.timesControls {
    position: relative;
}

.time_progressbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50px;
    background-color: var(--main-text-color);
    border-radius: 15px;
    width: 1240px;
    height: 5px;
    margin: 10px 0;
}

.time_progressBar {
    position: absolute;
    border-radius: 15px;
    background-color: var(--primary-color);
    height: 100%;
}

.controlsTime {
    position: absolute;
    right: -70px;
    color: var(--main-text-color);
}
*/

/*-------------------*/

.player {
    height: 90vh;
}

.container {
    max-width: 1440px;
    margin: 0 auto
}

.title {
    font-size: 59px;
    text-align: end;
    letter-spacing: var(--primary-letter-spacing);
    padding-top: 10px;
}

.description {
    font-size: 24px;
    text-align: end;
    letter-spacing: var(--main-letter-spacing);
    padding-bottom: 10px;
}

.videoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: -1;
}

.video {
    width: 100%;
    height: 80vh;
}

.timeControls {}

.barWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-bottom: 5px;
}

.progressContainer {
    position: relative;
    width: 1430px;
    height: 5px;
}

.progressBarContainer {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    border-radius: 15px;
    background-color: var(--main-text-color);
}

.time_progressBar {
    position: absolute;
    height: 100%;
    border-radius: 15px;
    background-color: var(--primary-color);
    transition: 100ms ease-in;
}

.controlsTime {
    font-size: 16px;
    letter-spacing: var(--main-letter-spacing);
}

.controlsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftControls,
.rightControls {
    display: flex;
    align-items: center;
    gap: 20px
}

.button {
    width: 45px;
    height: 45px;
    cursor: pointer;
    user-select: none;
}

img {
    z-index: -1;
}