.welcome_main {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.firstCircle {
    position: absolute;
    top: -500px;
    left: -400px;
    z-index: -9999;
    mix-blend-mode: soft-light;
    filter: blur(100px);
}

.secondCircle {
    position: absolute;
    bottom: -500px;
    right: -450px;
    z-index: -9999;
    mix-blend-mode: soft-light;
    filter: blur(100px);
}

.thirdCircle {
    position: absolute;
    bottom: -800px;
    left: -100px;
    z-index: -9999;
    mix-blend-mode: soft-light;
    filter: blur(100px);
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.heading {
    font-size: 80px;
    letter-spacing: var(--primary-letter-spacing);
}

.heading > span {
    color : var(--primary-color)
}

.content {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    height: 150px;
}

.circles {
    position: relative;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 310px;
    right: 0;
    border-radius: 75px;
    border: 1px solid var(--primary-color);
    background-color: rgba(255, 255, 255, 0);
}

.circle {
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 75px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--primary-color);
}